@font-face {
    font-family: Poppins;
    src: url("../assets/fonts/Poppins-Regular.ttf");
}
@import "tailwindcss";

*{
    font-family: Poppins;
}
input,button{
    cursor: pointer;
}
@theme{
    --color-second: #E5E5E5;
    --color-threed: #979797;
}